header {
    flex-direction: column;
    width: 100vw;
    z-index: 50;
}

footer {
    background-color: var(--primary-color);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.flex {
    display: flex;
}

.layout {
    width: 100%;
    margin: 0 auto;
}

.label__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}