html {
    font-size: 16px;
}

header {
    flex-direction: column;
    width: 100%;
    z-index: 50;
    position: fixed;
    top: 0;
}

footer {
    background-color: var(--primary-color);
    border-top: 1px solid rgba(0, 0, 0, 0.20);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.layout {
    width: 100%;
    margin: 0 auto;
}

.space {
    margin-top: 9px;
    margin-bottom: 20px;
}

.padding {
    padding: 0 16px;
}

.width {
    max-width: 1480px;
    padding: 0;
}

.width-sm {
    max-width: 976px;
    padding: 0;
}

.desktop__flex {
    display: none;
}

.top__stroke {
    border-top: 1px solid var(--white);
}

.bottom__stroke {
    border-bottom: 1px solid var(--white);
}

.top__stroke__secondary {
    border-top: 1px solid var(--secondary-color);
}

.bottom__stroke__secondary {
    border-bottom: 1px solid var(--secondary-color);
}

.label__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.breadcrumbs {
    flex-direction: row;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.breadcrumbs a {
    color: var(--secondary-color);
}

.breadcrumbs li+li::before {
    content: "/";
    margin: 0 10px;
}

@media (min-width: 991px) {
    .width {
        padding: 0 16px;
    }

    .space {
        margin-top: 27px;
        margin-bottom: 27px;
    }

    .desktop__flex {
        display: flex;
    }
}