*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--white);
  margin-top: 140px;
}

@media (min-width: 991px) {
  body {
    margin-top: 150px;
  }
}