.benefits {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    padding: 0 16px 20px 16px;
}

.benefit {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-family: var(--secondary-font);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--secondary-text);
    letter-spacing: -0.28px;
}

.benefit h2 {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--primary-text);
    letter-spacing: -0.28px;
}

.benefit img {
    width: 46px;
    height: auto;
}

@media (min-width: 991px) {
    .benefit {
        flex-direction: column;
        gap: 5px;
        text-align: center;
        font-size: 0.875rem;
    }

    .benefit h2 {
        font-size: 1.125rem;
    }

    .benefits {
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }

    .benefit img {
        width: auto;
    }
}