/* 100% width */
.newsletter__form,
.newsletter__form form {
    width: 100%;
}

/* center content */ 
.newsletter__content,
.newsletter__form,
.newsletter__form button {
    justify-content: center;
    align-items: center;
}

/* max-width */ 
.newsletter__content,
.navigation {
    max-width: 1480px;
    padding: 0 16px;
}

.newsletter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    margin: 0;
}

.newsletter__content {
    flex-direction: column;
    gap: 14px;
    text-align: center;
    padding: 34px 16px;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text);
    margin: 0 auto;
}

.newsletter__content h2 {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-text);
}

.newsletter__content p {
    max-width: 668px;
}

.newsletter__form form {
    flex-direction: column;
    gap: 16px;
}

.newsletter__form input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline-color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text)
}

.newsletter__form button {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.32px;
    color: var(--white);
    cursor: pointer;
}

.navigation {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: var(--gap-small);
    padding-top: 56px;
}

.navigation__item,
.navigation__item a,
.copyright {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text);
}

.navigation__item {
    flex-direction: column;
    gap: 10px;
}

.navigation__item img {
    width: 163px;
    height: auto;
}

.navigation__item h2 {
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-text);
    margin: 0;
}

.navigation__item a {
    text-transform: capitalize;
    display: inline-block;
    width: fit-content;
}

.navigation__item p {
    margin: 0;
}

.navigation__secondary {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    padding: 20px 0;
}

.copyright {
    align-items: center;
}

.payment {
    display: none;
    gap: 14px;
    align-items: center;
}

.payment img {
    width: 60.854px;
    height: auto;
}

@media (min-width: 991px) {
    .newsletter__content {
        font-size: 1.125rem;
    }

    .newsletter__content h2 {
        font-size: 2rem;
    }

    .newsletter__form form {
        flex-direction: row;
        gap: 16px;
        width: fit-content;
        margin: 0 auto;
    }

    .newsletter__form input {
        width: 420px;
        font-size: 1.125rem;
    }

    .newsletter__form button {
        font-size: 1.125rem;
    }

    .navigation {
        grid-template-columns: repeat(4, 1fr);
    }

    .navigation__secondary {
        grid-column: 1 / 5;
        padding: 7px 0;
    }

    .payment {
        display: flex;
    }
}