/* 100% width */
.newsletter__form,
.newsletter__form form {
    width: 100%;
}

/* center content */ 
.newsletter__content,
.newsletter__form,
.newsletter__form button {
    justify-content: center;
    align-items: center;
}

.newsletter {
    max-width: 1480px;
    padding: 0 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.newsletter__content {
    flex-direction: column;
    text-align: center;
    padding: 34px 0;
    font-family: var(--secondary-font);
    font-size: 1em;
    font-weight: 400;
    color: var(--secondary-text);
    margin: 0;
}

.newsletter__content h2 {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 1.25em;
    font-weight: 700;
    color: var(--primary-text);
}

.newsletter__content p {
    max-width: 668px;
}

.newsletter__form form {
    flex-direction: column;
    gap: 16px;
}

.newsletter__form input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline-color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1em;
    font-weight: 400;
    color: var(--secondary-text)
}

.newsletter__form button {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-family: var(--primary-font);
    font-size: 1em;
    font-weight: 500;
    letter-spacing: -0.32px;
    color: var(--white);
    cursor: pointer;
}

@media (min-width: 991px) {
    .newsletter__content {
        font-size: 1.125em;
    }

    .newsletter__content h2 {
        font-size: 2em;
    }

    .newsletter__form form {
        flex-direction: row;
        gap: 16px;
        width: fit-content;
        margin: 0 auto;
    }

    .newsletter__form input {
        width: 420px;
        font-size: 1.125em;
    }

    .newsletter__form button {
        font-size: 1.125em;
    }
}