.info__accordions,
.info__text {
    flex-direction: column;
}

.info {
    background-color: var(--secondary-color);
    padding: 40px 0;
}

.info__content {
    grid-template-columns: 1fr;
    gap: 18px;
    margin: 0 auto;
    padding: 0 16px;
}

.info__content img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.info__text {
    gap: 12px;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
}

.info__text h2 {
    font-family: var(--primary-font);
    font-size: 1.125rem;
    font-weight: 700;
}

.accordion {
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.accordion img {
    width: 25px;
    height: auto;
}

.top__stroke {
    border-top: 1px solid var(--white);
}

.bottom__stroke {
    border-bottom: 1px solid var(--white);
}

@media (min-width: 991px) {
    .info {
        padding: 140px 0;
    }

    .info__text {
        gap: 24px;
        font-size: 1.125rem;
    }

    .info__text h2 {
        font-size: 1.5rem;
    }

    .info__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 98px;
    }

    .info__accordions {
        margin-top: 35px;
    }
}