.product,
.product__info,
.information__content,
.information__main,
.info__quantity,
.info__description,
.info__proceed,
.info__size {
    flex-direction: column;
}

.products,
.products__list,
.product__information {
    padding: 0 16px;
}

.products,
.products__sorting {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.products h2 {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-text);
}

.products__sorting {
    padding: 15px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.products__sorting span {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-text);
}

.products__sorting a {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text);
}

.sorting {
    align-items: center;
    gap: 9px;
}

.products__list {
    grid-template-columns: 1fr;
    gap: 33px;
}

.product {
    position: relative;
    gap: 5px;
    flex-shrink: 0;
}

.product img {
    display: block;
    width: 100%;
}

.product__discount {
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--white);
    padding: 7px;
    right: 0px;
    border-radius: 2px;
}

.product__info {
    margin-top: 17px;
}

.product__info h4 {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text);
    margin-bottom: 17px;
}

.product__brand {
    justify-content: space-between;
}

.product__brand h3 {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--primary-text);
}

.product__rating,
.product__pricing {
    gap: 6px;
}

.product__rating {
    flex-direction: row;
}

.product__rating img {
    max-height: 15px;
    width: 90px;
}

.product__rating p {
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--black);
}

.product__pricing p {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-text);
}

.product__pricing span {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-text);
    text-decoration-line: line-through;
}

.outlet {
    margin-top: 52px;
}

.product__information {
    grid-template-columns: 1fr;
    gap: 20px;
}

.product__img {
    width: 100%;
    height: auto;
    display: block;
}

.information__content {
    gap: 42px;
}

.information__main {
    gap: 5px;
}

.information__main h1 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-text);
}

.information__main span {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-text);
}

.information__review {
    gap: 7px;
    align-items: center;
}

.information__review p {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}

.info__pricing {
    gap: 10px;
    margin-top: 18px;
}

.info__pricing p {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 700;
}

.info__pricing span {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration-line: line-through;
}

.info__quantity {
    gap: 4px;
}

.info__quantity h2,
.size__text h2 {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 600;
}

.quantity__buttons {
    gap: 0;
}

input[type=number] {
    display: flex;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.20)
}

.quantity__btn {
    background: none;
    padding: 20px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.20)
}

.info__description {
    gap: 31px;
}

.info__proceed {
    gap: 13px;
}

.info__size {
    gap: 1px;
}

.size__text {
    justify-content: space-between;
    align-items: center;
}

.size__text a {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-decoration-line: underline;
}

select[name=size] {
    padding: 20px 18px;
    border: 2px solid var(--black);
    width: 100%;
    max-width: 100%;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    background-image: url("./../../images/arrow_down.png");
    background-repeat: no-repeat;
    background-position: right 1.125rem center;
    appearance: none;
}

.info__buttons {
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
}

@media (min-width: 991px) {
    .products,
    .products__list,
    .product__information {
        padding: 0;
    }

    .products__sorting {
        padding: 15px 0;
    }

    .products h2 {
        font-size: 1.5rem;
    }

    .products a {
        font-family: var(--secondary-font);
        font-size: 1rem;
        font-weight: 600;
        color: var(--secondary-color);
    }

    .products__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 62px;
    }

    .product__discount {
        font-size: 1rem;
    }

    .product__rating p {
        font-size: 0.875rem;
    }

    .outlet {
        margin-top: 59px;
    }

    .product__information {
        grid-template-columns: repeat(2, 1fr);
        gap: 172px;
    }

    .info__buttons {
        grid-template-columns: 1.5fr 1fr;
    }

    select[name=size] {
        font-size: 1.125rem;
    }

    .info__pricing p,
    .info__pricing span {
        font-size: 2rem;
    }

    .information__main h1 {
        font-size: 2rem;
    }

    .information__main span {
        font-size: 2rem;
    }
}